<%= javascript_include_tag "learning_pieces" %>

<p id="notice"><%= notice %></p>



<div class="profile-main">

  <div class="home-top">
    <%= link_to(root_path) do %>
        <div class="logo"></div>
    <% end %>
    <div class="arrow-container">
      <div class="arrow"></div>
    </div>
    <%= link_to "Consultants", consultants_path, :class=> "path-button", :method => :get %>
    <div class="arrow-container2">
      <div class="arrow"></div>
    </div>
    <%= link_to @profile.first_name + " " + @profile.last_name, consultant_path(@profile), :class=> "title-button path-button", :method => :get %>
    <div class="clouds-back"></div>
    <div class="clouds-front"></div>
  </div>


  <div class="profile-content">
      <div class="profile-content-left">
        <div class="profile-picture-container">
          <%= image_tag(@profile.profileimage_url, height:540, width: 960) %>
        </div>
        <div class="profile-learning-pieces">
          <h2>Learning pieces by <%= @profile.first_name %></h2>
          <%= render partial: "helpers/learning_piece_small", collection: @learning_pieces, as: :item %>
        </div>
      </div>
      <div class="profile-content-right">
        <div class="profile-text">
          <h1 class="profile-name">
            <%= @profile.first_name %>
            <%= @profile.last_name %>
          </h1>
          <h2 class="profile-title">
            <%= @profile.title %>
          </h2>

          <p class="profile-bio">
                <% if @profile.bio != nil %>
                    <%=@profile.bio.gsub(/\n/, '<br>').html_safe %>
                <% end %>
          <p>

          <% if @profile.facebook_url != "" or @profile.twitter_url != "" or @profile.linkedin_url != "" %>
              <div class="link-icons">
                <% if @profile.facebook_url != "" %>
                    <%= link_to @profile.facebook_url do %>
                    <div class="social-link-cover">
                        <div class="fb-link"></div>
                    </div>
                    <% end %>
                <% end %>
                <% if @profile.twitter_url != "" %>
                    <%= link_to @profile.twitter_url do %>
                        <div class="social-link-cover">
                            <div class="twitter-link"></div>
                        </div>
                    <% end %>
                <% end %>
                <% if @profile.linkedin_url != "" %>
                    <%= link_to @profile.linkedin_url do %>
                        <div class="social-link-cover">
                            <div class="linkedin-link"></div>
                        </div>
                    <% end %>
                <% end %>
            </div>
          <% end %>

          <% if can? :update, @profile %>
              <%= link_to 'Edit', edit_profile_path(@profile) %>
          <% end %>
      </div>
  </div>

</div>

  <div class="learning-bottom"></div>

