<%= javascript_include_tag "landings" %>

<div data-page="home">
  <div class="home-top">
         <div class="home-top">
           <div class="home-border">
           </video>
           </div>
           <div class="nav-bar">
                <ul>
                  <li>Learn</li>
                  <li>Consult</li>
                  <li>About Us</li>
                  <li>More Info</li>
                </ul>
           </div>

        </div>
    <h1>Design<span class="t-a">2</span>Teach</h1>
  </div>
    <section id="learning-pieces-section" class="home-section">


      <div class="learning-piece-wrapper">
        <h2><%= link_to "Learning Pieces", learning_pieces_path, :class=> "bg-p", :method => :get %></h2>
        <%= render partial: "helpers/sidescrollable", locals: { coll: @learning_pieces, coll_type: 'learning_pieces' }  %>
      </div>
    </section>
    <section id="consultant-section" class="home-section">
      <h2><%= link_to "Consultants", consultants_path, :class=> "bg-s t-p", :method => :get %></h2>
      <div class="consultants-wrapper">
        <%= render partial: "helpers/sidescrollable", locals: { coll: @consultants, coll_type: 'consultants' }  %>
      </div>
    </section>

</div>