<%= javascript_include_tag "landings" %>

<div data-page="home">
  <div class="home-top">
        <%= link_to(root_path) do %>
             <div class="logo"></div>
        <% end %>

        <div class="logo-info">Information & resources for improving teaching & learning for new environments.</div>
         <div class="clouds-back"></div>
         <div class="clouds-front"></div>
           <!--
           <div class="nav-bar">
                <ul>
                  <li>Learn</li>
                  <li>Consult</li>
                  <li>About Us</li>
                </ul>
           </div>
            -->



  </div>
    <section id="learning-pieces-section" class="home-section">
      <div class="learning-piece-wrapper">
        <h2>
          <%= link_to "Learning Pieces", learning_pieces_path, :class=> "lp-head bg-p t-p", :method => :get %>
        </h2>
        <%= render partial: "helpers/sidescrollable", locals: { coll: @learning_pieces, coll_type: 'learning_pieces', topic: '' }  %>
      </div>
    </section>

    <section id="d2l-framework" class="home-section">
      <div class="d2l-framework-main">
        <div class="d2l-content-frame">
            <div class="content-frame-learn-more">
                <div class="d2l-framework-logo"></div>
                <div class="d2l-framework-info">
                    <p><strong>Design 2 Teach</strong> is a framework for creating educational spaces conducive to teaching & learning in the digital world.</p>
                </div>
                <div class="d2l-framework-head bg-p t-p"><h4>Learn More</h4></div>
            </div>
            <div class="content-frame-learn-less">
                <div class="d2l-framework-info">
                    <p> Design 2 Teach is a hub for the latest methods in teaching and education. As the world evolves so does delivery of content and education practices.
                    Design 2 Teach provides the latest in teaching methodology and emerging systems. </p>
                </div>
            </div>



        </div>
      </div>
    </section>

    <section id="consultant-section" class="home-section">
      <div class="consultants-wrapper">
          <h2>
            <%= link_to "Consultants", consultants_path, :class=> "consultant-head bg-s t-p", :method => :get %>
          </h2>

          <%= render partial: "helpers/sidescrollable", locals: { coll: @consultants, coll_type: 'consultants', topic: '' }  %>
      </div>
    </section>


</div>

