<%= javascript_include_tag "landings" %>

<div data-page="home">
  <div class="home-top">
    <%= video_tag "synapse.mp4", :size => "1920x300",  :autoplay => true, :controls => false, :loop => true %>



    <h1>Design<span class="t-p">2</span>Teach</h1>
  </div>
    <section id="learning-pieces-section" class="home-section">

      <h2><%= link_to "Learning Pieces", learning_pieces_path, :method => :get %></h2>
      <div class="learning-piece-wrapper">
        <%= render partial: "helpers/sidescrollable", locals: { coll: @learning_pieces, coll_type: 'learning_pieces' }  %>
      </div>
    </section>
    <section id="consultant-section" class="home-section">
      <h2><%= link_to "Consultants", consultants_path, :method => :get %></h2>
      <div class="consultants-wrapper">
        <%= render partial: "helpers/sidescrollable", locals: { coll: @consultants, coll_type: 'consultants' }  %>
      </div>
    </section>
    <section id="products-section" class="home-section">
      <h2><%= link_to "Products", products_path, :method => :get %></h2>
      <div class="products-wrapper">
        <%= render partial: "helpers/sidescrollable", locals: { coll: @products, coll_type: 'products' }  %>
      </div>
    </section>
</div>