<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Learning pieces:</strong>
  <%= @topic.learning_pieces %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @topic.deleted_at %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
