<%= javascript_include_tag "learning_pieces" %>

<div class="learning-form-main">



    <div class="learning-form-container">
      <h1>Editing "<%= @learning_piece.title %>" </h1>
        <%= simple_form_for(@learning_piece) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs learning-form-inputs">
            <div class="isArticle-container">
                <%= f.collection_radio_buttons :isarticle, [[true, 'Article'], [false, 'Video']], :first, :last %>
            </div>
            <%= f.input :title, :label => "Title:" %>
            <%= f.input :description_short, :label => "Description short:" %>
            <%= f.input :description_long, :label => "Description long:" %>
            <%= f.input :youtube_url, :label => "Youtube URL:"%>
            <div class="label control-label">Background:</div><%= f.file_field  :avatar, :label => "Background:", as: :file%>
            <!--<div class="label control-label">Foreground:</div><%= f.file_field  :lpimage, :label => "Foreground:", as: :file%>-->
            <%= f.association :user, :label => "User:" %>
            <%= f.association :topic, :label => "Topic:" %>

            <!--
            <div class="form-topics-container">
                <div class="add-topic-container">
                    <input id="new-topic" type="text" name="topicname">
                    <div class="nav-btn add-topic-btn"><p>Add Topic</p></div>
                </div>

            </div>
            -->

            <div class="isVisible-container">
              <%= f.collection_radio_buttons :visible, [[true, 'Visible'], [false, 'Hidden']], :first, :last %>
            </div>

          </div>

          <%= f.button :submit, :class => "update-learning-piece-btn" %>
        <% end %>

    </div>

  <div class="learning-form-images-container">
        <h3> Upload pictures to use. NOTE: Do this first OR submit any changes before adding a picture.</h3>
        <%= simple_form_for @article_image do |a| %>
            <%= a.file_field :articleimage, as: :file %>
            <%= a.input :learning_piece_id, :as => :hidden, input_html: { value: @learning_piece.id }%>
            <%= a.button :submit, 'Add' %>
        <% end %>

        <% @learning_piece.article_images.each do |ai| %>
            <div class="article_image">
              <%= image_tag(ai.articleimage_url(), height: 220, width: 380, class: "article-image-thumb") %>
              <p>
                <%= @imgStrFront %>
                <%= ai.articleimage_url() %>
                <%= @imgStrBack %>
              </p>
            </div>
        <% end %>

  </div>

  <div class="learning-form-help">
    <h2>Helpful HTML tags:</h2>
    <br>
    <p> &lt;h1&gt; - Large Title</p>
    <br>
    <p> &lt;h2&gt; - Less large Title</p>
    <br>
    <p> &lt;I&gt; - Italics</p>
    <br>
    <p> &lt;B&gt; - Bold</p>
    <br>
    <p> &lt;small&gt; - Useful for the text under an image that explains the image</p>
    <br>
    <p> &lt;br&gt; - Use this to add white space. You don't need a closing set, just one adds a newline.</p>
    <br>
    <p> &lt;a href="http://www.google.com"&gt; Google &lt;/a&gt;<br>DO NOT FORGET the http://</p>
  </div>
</div>


