<%= simple_form_for(@learning_piece) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description_short %>
    <%= f.input :description_long %>
    <%= f.input :youtube_url %>
    <%= f.input :picture %>
    <%= f.association :user %>
    <%= f.association :topic %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
