<% item = get_proper_format_for_sidescroll_item(item, coll_type) %>
<div class="sidescrollable-item">

<% if coll_type.eql? "learning_pieces" %>

  <div class="item-header b-a">
    <h3 class="learning-piece-item"><%= item.title %></h3>
    <%= link_to("", learning_piece_path(item), { class: "item-link-header" } ) %>
  </div>
  <div class="item-background" style="<!-- background-image: url(<%= item.avatar_url.to_s %>) -->">
    <div class="description-text">
      <%= item.description_short %>
      <% if can? :update, item %>
          <%= link_to("Edit", edit_learning_piece_path(item), { class: "edit-link t-s-l" } ) %>
      <% end %>
      <%= link_to("View", learning_piece_path(item), { class: "item-link t-s-l" } ) %>
    </div>

  </div>


<% elsif coll_type.eql? "consultants" %>

  <div class="item-header b-a">
    <h3 class="consultant-item"><%= item.first_name %> <%= item.last_name %></h3>
    <%= link_to("", consultant_path(item), { class: "item-link-header" } ) %>
  </div>
  <div class="item-background" style="<!--background-image: url(<%= item.profile_picture %>) -->">
    <div class="description-text">
      <%= item.bio %>
      <%= link_to("View", consultant_path(item), { class: "item-link t-s-l" } ) %>
    </div>
      </div>

<% elsif coll_type.eql? "products" %>

  <div class="item-header b-a">
    <h3 class="product-item"><%= item.title %></h3>
    <a class="item-link-header" href="<%= item.url %>" target="_blank">View</a>
  </div>
  <div class="item-background" style="<!--background-image: url(<%= item.picture_url %>) -->">
    <div class="description-text">
      <%= item.description %>
      <a class="item-link t-s-l" href="<%= item.url %>" target="_blank">View</a>
    </div>
  </div>

<% end %>

</div>