<% item = get_proper_format_for_sidescroll_item(item, coll_type) %>
<div class="sidescrollable-item">

<% if coll_type.eql? "learning_pieces" %>

  <div class="item-avatar"><%= image_tag item.avatar_url.to_s %></div>
  <div class="item-background" style="background-image: url(<%=  %>)">
    <h3 class="learning-piece-item"><%= item.title %></h3>
    <div><%= item.description_short %></div>
  </div>


<% elsif coll_type.eql? "consultants" %>

  <div class="item-background" style="background-image: url(<%= item.profile_picture %>)">
    <h3 class="consultant-item"><%= item.first_name %> <%= item.last_name %></h3>
    <div><%= item.bio %></div>
  </div>

<% elsif coll_type.eql? "products" %>

  <div class="item-background" style="background-image: url(<%= item.picture_url %>)">
    <h3 class="product-item"><%= item.title %></h3>
    <div><%= item.description %></div>
  </div>

<% end %>

</div>