<!DOCTYPE html>
<html>
<head>
  <title>Design2Teach</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? or Rails.env.development? %></head>
<body>
<div id="nav">
  <% if (current_user && current_user.is_consultant) %>
      Signed in as <span class="user-email"><%= current_user.email %></span>
      (<span class="user-type t-p"><%= current_user.user_type.title %></span>)
      <%= link_to "View Admin Panel", admin_path, :method => :get, :class => 'nav-btn', id: 'view-admin-panel' %>
      <%= link_to "Edit Profile", profile_path(current_user.profile), :method => :get, :class => 'nav-btn', id: 'edit-profile' %>
      <%= link_to "Sign Out", sign_out_path, :method => :get, :class => 't-s hvr', id: 'sign-out' %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
